.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: red;
    color: white;
    padding: 10px;
    margin-right: 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
input {
    width: 25vw;
    padding : 10px;
    background-color: rgb(236, 231, 231);
    border: none;
    border-radius: 6px;
}
.question-div {
    display: flex;
    justify-content: space-between;
    background-color: rgb(216, 213, 213);
}
.que-left {
    width: 45vw;
    /* min-height: 50vh; */
    height: 50vh;
    margin: 50px;
    padding: 50px;
    overflow: scroll; 
    background-color: white;
}
.que-right {
    width: 30vw;
    /* min-height: 50vh; */
    height: 50vh;
    margin: 50px;
    padding: 50px;
    overflow: scroll;
    background-color: white;
}

.ans-div1 {
    display: flex;
}